body{
  background-color: black;
  color: red;
  text-align: center;
  font-family: "Spicy Rice", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
  font-size: 1.3em;
}

.features-section ul{
  list-style: none;
}

.about-section,
.purpose-section,
.features-section
,.features-section,
.future-enhancements,
.team-section,
.team-member{
  border: 5px whitesmoke dotted;
}