#contact {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    color: black;
}

h2 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column; 

label {
    margin: 10px 0 5px; 
    font-weight: bold; /
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin-bottom: 10px; 
}

button {
    background-color: #007bff; 
    color: white; 
    padding: 10px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

button:hover {
    background-color: #0056b3; 
}
}