body{
    background-image: url('./img/bac.jpeg');
    background-repeat: repeat;
    background-size: contain;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
main{
    background-color: rgb(28, 204, 180);
    color: black;
    border-top-left-radius:30% ;
    border-bottom-left-radius:30% ;
    border-top-right-radius:30% ;
    border-bottom-right-radius:30% ;

    height: 50vh;
    width: 50vw;
    padding: 30px;

}
nav{
    position: sticky;
    z-index: 1;
}
nav ul {
    list-style: none;
    display: flex;
    background-color: #333;
    padding: 10px;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }