section{
    background-image: url('./img/intro.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
html, body {
    height: 100%;  
    margin: 0;     
}

.button-container {
    display: flex;                     
    justify-content: center;          
    align-items: center;               
    height: 100vh;                     
}

button {
    background-color: #007bff;        
    color: white;                     
    padding: 10px 20px;               
    border: none;                     
    border-radius: 5px;               
    font-size: 16px;                 
    cursor: pointer;                 
    transition: background-color 0.3s, transform 0.2s; 
}

/* Hover effect */
button:hover {
    background-color: #0056b3;      
    transform: scale(1.05);         
}

/* Active effect */
button:active {
    background-color: #004494;       
    transform: scale(0.95);         
}
